$base-font-size: 12px;
$bfs: $base-font-size;


.full{
  display:none;
}

.mob {
  display:inherit;
}

header.main {
  padding-top:  em(10px, $bfs);
  height:em(90px, $bfs);

  h1{
    background-image: url("../images/logo_mob.svg");
    margin-left:5%;
    height:em(66px, $bfs);
    width:em(93px, $bfs);
    background-size: em(92px, $bfs) em(66px, $bfs);

  }

  nav.mob {

    top:0;
    left:0;
    width:100%;
    height:0;
    z-index:20;

    button {
      position:absolute;
      right:5%;
      top: em(25px, $bfs);
      z-index:22;
      display:inline-block;
      text-indent: -99999px;
      background-color: $mainColor1;
      width:em(60px, $bfs);
      height:em(35px, $bfs);
      background-image:  url("../images/arrow_menu.svg");
      background-repeat: no-repeat;
      background-size: em(29px, $bfs) em(15px, $bfs);
      background-position:center;
      cursor: pointer;

    }

    #main-menu{
      display:none;
      z-index:21;
      position:absolute;
      width:100%;
      background-color:$mainColor5;
      position:absolute;
      top:0;
      left:0;
      @include drop-shadow(0px, 4px, 8px, 2px, 0.25);

    }

    h2{

      position:absolute;
      z-index:12;
      left:5%;
      top:em(15px, $bfs);
      color:$mainColor3;
      font-size:em(24px, $bfs);
    }

    ul{

      box-sizing: border-box;
      display:block;
      margin-top: em(60px, $bfs);
      padding-top:em(10px, $bfs);
      background-color: $mainColor1;
      padding-bottom: em(50px, $bfs);

      li {
        display:block;
        height: em(40px, $bfs);
        margin:em(25px, $bfs) 5% 0;
        box-sizing: border-box;
        border: 1px solid $mainColor3;

        a {

          box-sizing: border-box;
          display:block;
          border-left:em(10px, $bfs) solid transparent;
          border-right:em(10px, $bfs) solid transparent;

          text-align:left;
          height:100%;
          text-decoration:none;
          padding-top: em(5px, $bfs);
          font-size: em(20px, $bfs);
          color: $txt4;


        }

        a:hover, a:active {
          background-image: url("../images/arrow_back.svg");
          background-repeat:no-repeat;
          background-size: em(15px, $bfs) em(25px, $bfs)  ;
          background-position:right center;
        }

      }

    }

  }

}

section.main{

  header{
    height: em(45px, $bfs);

    h2 {
      font-size:  em(24px, $bfs);
      margin: em(5px, $bfs) 0 0 5%;
    }

    .filter-menu {
      top:0;
      width:100%;

      button{

        width:em(20px, $bfs);
        height:em(20px, $bfs);
        background-size: em(20px, $bfs) em(10px, $bfs) ;
        background-position:center;
        top: em(10px, $bfs);
        right:5%;
        text-indent: -99999px;
      }
    }

    .back-button {
      top:0;
      width:100%;

      button{
        top: 0;
        right:5%;
        width:em(45px, $bfs);
        height:em(45px, $bfs);
        background-size: em(10px, $bfs) em(20px, $bfs)  ;
        background-position:center right;

        text-indent: -99999px;
      }
    }

  }



}

#filter-menu {

  right: 0;
  background-color: $mainColor1;
  width: 100%;

  padding-top: em(50px, $bfs);


  h3{
    position:absolute;
    top:em(10px, $bfs);
    left:5%;
    color:$mainColor3;
    font-size: em(20px, $bfs);
  }


  ul{
    padding-bottom: em(25px, $bfs);
  }

  li{
    margin:em(25px, $bfs) 5% 0 ;
  }

  a{
    padding: em(10px, $bfs) em(10px, $bfs);
    font-size: em(20px, $bfs);
  }

  a:hover, a:active {

    background-size: em(10px, $bfs) em(20px, $bfs)  ;

    border-right: em(10px, $bfs) solid transparent;
  }


}

.result-tile {
  margin-top: em(5px, $bfs);
  background-position: left, 5% em(15px, $bfs);
  background-size: em(5px, $bfs) em(5px, $bfs), em(24px, $bfs) em(23px, $bfs) ;

  h3{

    margin: em(15px, $bfs) 0 0 15%;
    font-size: em(12px, $bfs);
    max-width: 65%;
    line-height: em(19px, $bfs);

  }

  ul{

    margin-left: 15%;

  }

  li{

    font-weight:400;
    line-height: em(19px, $bfs);
    font-size: em(12px, $bfs);
    span{
      font-weight:400;
    }
  }

  p{
    display:inline-block;
    margin-left: 15%;
    padding-bottom:15px;
    line-height: em(19px, $bfs);
    font-size: em(12px, $bfs);
  }

  button {
    right:5%;
    top: 50%;
    margin-top: em(-23px, $bfs);
    background-size: em(25px, $bfs) em(45px, $bfs);
    height: em(45px, $bfs);
    width: em(25px, $bfs);
  }
}

footer.pagination {

  height:em(50px, $bfs);
  padding-top:em(10px, $bfs);

  button{
    background-image: url("../images/arrow_prev.svg"), url("../images/arrow_next.svg");
    background-position: left center, right center;
    background-size: em(10px, $bfs)  em(20px, $bfs) ;
    padding: 0 em(25px, $bfs);
    color:$txt1;
    font-weight:400;
    font-size:em(12px, $bfs);
    height:em(25px, $bfs);
    line-height:em(25px, $bfs);
  }

}



.form-row:nth-child(1) {
  margin-top: em(10px, $bfs);

}

.form-row {
  padding:em(15px, $bfs) 0 em(10px, $bfs) 0 ;

  h3 {
    font-size:em(12px, $bfs);
    margin:0 5%;
  }

  label{
    margin-left:5%;
    font-size: em(12px, $bfs);
    line-height:em(20px, $bfs);

  }

  label.radio {
    padding-left:em(35px, $bfs);
    background-size: em(20px, $bfs) em(20px, $bfs);

  }

  input.text{
    font-size: em(12px, $bfs);
    margin: em(10px, $bfs) 0 0 5%;
    width:90%;
    height:em(35px, $bfs);
    padding:em(2px, $bfs) em(5px, $bfs);
  }

  textarea {
    padding:em(2px, $bfs) em(5px, $bfs);
    font-size: em(12px, $bfs);
    margin: em(10px, $bfs) 0 0 5%;
    width:90%;
    height:em(105px, $bfs);
  }

  p.count {

    top:em(15px, $bfs);
    left:5%;
    width:90%;
    font-size: em(14px, $bfs);
  }

}

.alert-banner{

  margin:1rem 5% 0 5%;
  padding:1rem;
  text-align:center;


  h2{
    font-size:em(14px, $bfs);
  }

}

.form-row.error {
  p.error {
    text-align:center;
    margin-top:em(10px, $bfs);
    padding:em(5px, $bfs) 5% em(10px, $bfs) 5%;
  }
}

footer.form-button{

  margin-top:em(35px, $bfs);
  padding:0 5% em(45px, $bfs) 5%;

  button{

    font-size: em(12px, $bfs);
    width:em(135px, $bfs);
    height:em(35px, $bfs);

  }

}

section.poll-display{
  margin-top: em(5px, $bfs);
  padding: em(10px, $bfs) 0 em(30px, $bfs) 0;
  background-size: em(5px, $bfs) em(5px, $bfs),em(25px, $bfs) em(25px, $bfs);
  background-position: left, 5% em(10px, $bfs);

  h3 {
    margin: 0 15%;
    font-size: em(14px, $bfs);
    line-height:em(22px, $bfs);
  }

  p.main-result{
    font-size: em(24px, $bfs);
    margin: 0 15%;
    display:inline-block;
    margin-top: em(10px, $bfs);

  }

  table{

    margin:em(15px, $bfs) 5% 0 5%;
    width:90%;

    td {
      font-size:em(14px, $bfs);
      padding:0 em(10px, $bfs);
    }

    td.option {
      height:em(27px, $bfs);
      width:em(25px, $bfs);
    }
  }

  div.fake-poll{
    margin-top: em(35px, $bfs);
    display:inline-block;
    height: em(240px, $bfs);
    width:100%;
    background-size: em(240px, $bfs) em(240px, $bfs);

  }

  p.total-votes {
    display:inline-block;
    margin:em(25px, $bfs) 5% 0 5%;
    width:90%;
    font-size:em(14px, $bfs);

  }

  button {
    position:relative;
    left:50%;
    display:inline-block;
    margin: em(25px, $bfs)  0 0 em(-80px, $bfs);
    width:em(160px, $bfs);
    height:em(35px, $bfs);
    font-size:em(12px, $bfs);
  }

  p.author {
    font-size:em(14px, $bfs);
    margin:em(25px, $bfs) 5% 0 5%;
    line-height: em(20px, $bfs);
  }

  p.time-stamp {
    font-size:em(14px, $bfs);
    margin:0 5% 0 5%;
    line-height: em(20px, $bfs);
  }
}

section.poll-comments{

  div.comment:nth-child(2){
    margin-top:0;
  }

  div.comment {
    margin-top: em(5px, $bfs);
    background-size: em(5px, $bfs) em(5px, $bfs);
    padding: em(15px, $bfs) 5%;
  }

  h3 {

    font-size:em(14px, $bfs);
    font-weight:400;

  }

  p {

    font-size:em(14px, $bfs);

  }




}

footer.main {

  height:em(200px, $bfs);

  h3{
    font-size:em(12px, $bfs);
    margin-top:em(30px, $bfs);
    font-weight:400;
  }

  ul {
    margin:0 5%;
  }
  ul:nth-child(2){

    margin-top:em(25px, $bfs);

  }

  li{
    font-size:em(12px, $bfs);
    padding: 0 em(5px, $bfs);
    margin-top:em(5px, $bfs);

  }

  @media only screen and (max-width : 449px){
    ul:last-child li:last-child {
      border-left:0;

    }
  }

}