


  .arrow_menu-1 {
    stroke: #ffffff;
    stroke-width: 1px;
    fill: none;
  }

  .icon_bubble-2 {
    fill: #77bf26;
  }

  .icon_error-3 {
    fill: #ffffff;
  }

  .icon_go-4 {
    fill: #77bf26;
    stroke: #ffffff;
  }

  .icon_home-5 {
    fill: #ffffff;
    stroke: #ffffff;
  }

  .icon_login-6 {
    fill: #ffffff;
    stroke: #ffffff;
    stroke-width: 1px;
  }

  .icon_poll-7 {
    fill: #ffffff;
  }
  .icon_q-8 {
    fill: #0f8add;
  }

  .icon_quote1-9 {
    fill: #77bf26;
  }

  .icon_quote2-10 {
    fill: #77bf26;
  }

  .arrow_next-1 {
    fill: #77bf26;
  }

  .bg_tile1-1 {
    fill: #77bf26;
  }

  .arrow_prev-1 {
    fill: #77bf26;
  }

  .bg_tile2-1 {
    fill: #0f8add;
  }


  .logo_mob-3 {
    fill: #0d0d0d;
    stroke: #00aeef;
  }

  .logo_mob-4 {
    fill: #77bf26;
    stroke: #00aeef;
  }

  .logo_mob-5 {
    fill: #0d0d0d;
  }

  .logo_mob-6 {
    fill: #0d0d0d;
    stroke: #77bf26;
  }

  .logo_mob-8 {
    stroke: #77bf26;
    fill: none;
  }

  .logo_mob-10 {
    fill: #ffffff;
  }
  .logo_full-3 {
    fill: #0f8add;
  }

  .logo_full-4 {
    font-size: 36px;
  }

  .logo_full-5 {
    fill: #fafaf9;
    font-size: 36px;
    font-family: "Verdana";
  }

  .logo_full-7 {
    fill: #0d0d0d;
    stroke: #00aeef;
  }

  .logo_full-8 {
    fill: #77bf26;
    stroke: #00aeef;
  }

  .logo_full-9 {
    fill: #0d0d0d;
  }

  .logo_full-10 {
    fill: #0d0d0d;
    stroke: #77bf26;
  }

  .logo_full-12 {
    stroke: #77bf26;
    fill: none;
  }

  .logo_full-14 {
    fill: #ffffff;
  }

  .checkbox_ticked-3 {
    fill: #ffffff;
    stroke: #0f8add;
    stroke-width: 1px;
  }

  .checkbox_ticked-4 {
    fill: #77bf26;
  }

  .checkbox-2 {
    fill: #ffffff;
    stroke: #0f8add;
    stroke-width: 1px;
  }

  .icon_cross-2 {
    fill: #fd1c1c;
  }

  .icon_tick-2 {
    fill: #77bf26;
  }




