<section class="main home" role="main" aria-labelledby="h2-1" tabindex="-1" accesskey="3">
    <header>
        <h2>219 polls</h2>
        <div class="filter-menu">
            <button type="button" aria-haspopup="true" aria-owns="filter-menu">Sort by</button>
            <div id="filter-menu" role="menu" tabindex="-1" aria-hidden="true" aria-labelledby="h3-1">
                <h3 id="h3-1" class="mob">Sort by</h3>
                <ul>
                    <li><a href="javascript:;">Date</a></li>
                    <li><a href="javascript:;">Popularity</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div alert-banner></div>

    <div class="result-tile" ui-sref="poll">
        <h3>Is this a dummy poll question?</h3>
        <ul>
            <li><span>Yes:</span> 42%</li>
            <li class="full"><span>No:</span> 32%</li>
            <li class="full"><span>Not Sure:</span> 26%</li>
        </ul>
        <p class="alert">Today</p>
        <button type="button">Go</button>
    </div>
    <div class="result-tile" ui-sref="poll">
        <h3>Is this a dummy poll question?</h3>
        <ul>
            <li><span>Yes:</span> 42%</li>
            <li class="full"><span>No:</span> 32%</li>
            <li class="full"><span>Not Sure:</span> 26%</li>
        </ul>
        <p>Yesterday</p>
        <button type="button">Go</button>
    </div>
    <div class="result-tile" ui-sref="poll">
        <h3>Is this a dummy poll question?</h3>
        <ul>
            <li><span>Yes:</span> 42%</li>
            <li class="full"><span>No:</span> 32%</li>
            <li class="full"><span>Not Sure:</span> 26%</li>
        </ul>
        <p>2 days old</p>
        <button type="button">Go</button>
    </div>
    <div class="result-tile" ui-sref="poll">
        <h3>Is this a dummy poll question?</h3>
        <ul>
            <li><span>Yes:</span> 42%</li>
            <li class="full"><span>No:</span> 32%</li>
            <li class="full"><span>Not Sure:</span> 26%</li>
        </ul>
        <p>1 week old</p>
        <button type="button">Go</button>
    </div>
    <div class="result-tile" ui-sref="poll">
        <h3>Is this a dummy poll question?</h3>
        <ul>
            <li><span>Yes:</span> 42%</li>
            <li class="full"><span>No:</span> 32%</li>
            <li class="full"><span>Not Sure:</span> 26%</li>
        </ul>
        <p>1 month old</p>
        <button type="button">Go</button>
    </div>

    <footer class="pagination full">
        <button id="prev" type="button">Previous</button>
        <p>Page <span>1</span> of <span>4</span></p>
        <button id="next" type="button">Next</button>
    </footer>

    <footer class="pagination mob">
        <button type="button">Show more</button>
    </footer>
</section>