<section class="main poll" role="main" aria-labelledby="h2-1" tabindex="-1" accesskey="3">
    <div page-head></div>
    <div alert-banner></div>


    <section class="poll-display" aria-labelledby="h3-1">

        <h3 id="h3-1">This may be dummy poll question, but can I still vote?</h3>



        <p class="main-result">Yes 42%</p>
        <table>
            <tr>
                <td class="option opt1">&nbsp;</td>
                <td>Yes</td>
                <td class="result">42%</td>
            </tr>
            <tr>
                <td class="option opt2">&nbsp;</td>
                <td>No</td>
                <td class="result">32%</td>
            </tr>
            <tr>
                <td class="option opt3">&nbsp;</td>
                <td>Not sure</td>
                <td class="result">26%</td>
            </tr>
        </table>

        <div class="fake-poll">


        </div>


        <p class="total-votes">Total votes: <span>3422</span></p>

        <button ui-sref="vote({pollid: '55af7eef0d6a204184bab91a', question: 'This is a poll question that may just work?', option1: 'Hope so!', option2: 'No way!', option3: '', option4: '', option5: ''})">Vote now</button>

        <p class="author">Author: <span>Randy Dilshore</span></p>
        <p class="time-stamp">Published: <span>2 days ago</span></p>

    </section>
    <section class="poll-comments" aria-labelledby="h2-2">

        <header>
            <h2 id="h2-2">615 Comments</h2>

        </header>

        <div class="comment">
            <div>
                <h3>Geof22</h3>
                <p class="time-stamp">14:22, 20.02.2015</p>
                <p class="comment">Etiam neque ligula, ullamcorper eu nulla in, venenatis fermentum lorem.</p>
            </div>
        </div>
        <div class="comment">
            <div>
                <h3>Geof22</h3>
                <p class="time-stamp">14:22, 20.02.2015</p>
                <p class="comment">Etiam neque ligula, ullamcorper eu nulla in, venenatis fermentum lorem.</p>
            </div>
        </div>
        <div class="comment">
            <div>
                <h3>Geof22</h3>
                <p class="time-stamp">14:22, 20.02.2015</p>
                <p class="comment">Etiam neque ligula, ullamcorper eu nulla in, venenatis fermentum lorem.</p>
            </div>
        </div>
        <div class="comment">
            <div>
                <h3>Geof22</h3>
                <p class="time-stamp">14:22, 20.02.2015</p>
                <p class="comment">Etiam neque ligula, ullamcorper eu nulla in, venenatis fermentum lorem.</p>
            </div>
        </div>
        <div class="comment">
            <div>
                <h3>Geof22</h3>
                <p class="time-stamp">14:22, 20.02.2015</p>
                <p class="comment">Etiam neque ligula, ullamcorper eu nulla in, venenatis fermentum lorem.</p>
            </div>
        </div>


        <footer class="pagination full">
            <button id="prev" type="button">Previous</button>
            <p>Page <span>1</span> of <span>4</span></p>
            <button id="next" type="button">Next</button>
        </footer>

        <footer class="pagination mob">
            <button type="button">Show more</button>
        </footer>


    </section>
</section>